NetSources/WebApp/Service References/ProductoService/ProductoWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductoContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Medida" type="xs:decimal" />
      <xs:element minOccurs="0" name="PCompra" type="xs:decimal" />
      <xs:element minOccurs="0" name="PVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoContract" nillable="true" type="tns:ProductoContract" />
  <xs:complexType name="ArrayOfProductoContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoContract" nillable="true" type="tns:ProductoContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoContract" nillable="true" type="tns:ArrayOfProductoContract" />
</xs:schema>