NetSources/WebApp/Service References/ProductoService/ProductoWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60904/ProductoWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityServices" />
  <xs:element name="ObtenerProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="ObtenerProductoResult" nillable="true" type="q1:ProductoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="cliente" nillable="true" type="q2:ProductoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="cliente" nillable="true" type="q3:ProductoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPagProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPagProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="ListaPagProductoResult" nillable="true" type="q4:ArrayOfProductoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>