NetSources/DesktopApp/Service References/ClienteServices/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60904/ClienteWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60904/ClienteWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60904/ClienteWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteWS_ObtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_ObtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_GuardarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_GuardarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_ModificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_ModificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_ListaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteWS_ListaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteWS">
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWS/ObtenerCliente" message="tns:IClienteWS_ObtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWS/ObtenerClienteResponse" message="tns:IClienteWS_ObtenerCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWS/GuardarCliente" message="tns:IClienteWS_GuardarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWS/GuardarClienteResponse" message="tns:IClienteWS_GuardarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWS/ModificarCliente" message="tns:IClienteWS_ModificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWS/ModificarClienteResponse" message="tns:IClienteWS_ModificarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWS/EliminarCliente" message="tns:IClienteWS_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWS/EliminarClienteResponse" message="tns:IClienteWS_EliminarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteWS/ListaCliente" message="tns:IClienteWS_ListaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteWS/ListaClienteResponse" message="tns:IClienteWS_ListaCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteWS" type="tns:IClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWS/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWS/GuardarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWS/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWS/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteWS/ListaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteWS">
    <wsdl:port name="BasicHttpBinding_IClienteWS" binding="tns:BasicHttpBinding_IClienteWS">
      <soap:address location="http://localhost:60904/ClienteWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>