NetSources/WebApp/Service References/ClienteService/ClienteWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60904/ClienteWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityServices" />
  <xs:element name="ObtenerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="ObtenerClienteResult" nillable="true" type="q1:ClienteContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="cliente" nillable="true" type="q2:ClienteContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="cliente" nillable="true" type="q3:ClienteContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPagCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPagClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntityServices" minOccurs="0" name="ListaPagClienteResult" nillable="true" type="q4:ClientePagedContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>