JavaSources/SIGFPortal/SIGFPortal-war/web/WEB-INF/wsdl/10.142.120.37_58201/WsPedido.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://10.142.120.37:58201/WsPedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/upc.ws"/><xs:element name="Obtener"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Codigo" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="ObtenerResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ObtenerResult" nillable="true" type="q1:Pedido" xmlns:q1="http://schemas.datacontract.org/2004/07/upc.ws"/></xs:sequence></xs:complexType></xs:element><xs:element name="Registrar"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="Data" nillable="true" type="q2:Pedido" xmlns:q2="http://schemas.datacontract.org/2004/07/upc.ws"/></xs:sequence></xs:complexType></xs:element><xs:element name="RegistrarResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="RegistrarResult" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="Listar"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="ListarResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ListarResult" nillable="true" type="q3:ArrayOfPedido" xmlns:q3="http://schemas.datacontract.org/2004/07/upc.ws"/></xs:sequence></xs:complexType></xs:element></xs:schema>