NetSources/WebApp/Service References/PedidoService/PedidoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfDetallePedido" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IGV" type="xs:double" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfDetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetallePedido" nillable="true" type="tns:DetallePedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetallePedido" nillable="true" type="tns:ArrayOfDetallePedido" />
  <xs:complexType name="DetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="CodigoProducto" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioU" type="xs:double" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetallePedido" nillable="true" type="tns:DetallePedido" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
</xs:schema>